<?xml version='1.0' encoding='utf-8'?>
<plugin id="RAMPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>RAMPlugin</name><js-module name="RAMPlugin" src="www/RAMPlugin.js"><clobbers target="cordova.plugins.RAMPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="RAMPlugin"><param name="android-package" value="RAMPlugin.RAMPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/RAMPlugin.java" target-dir="src/RAMPlugin/RAMPlugin" /></platform></plugin>